extends layout

block content
  h1 #{request.method} Request Received

  table(border=2)
    thead
    tbody
      tr
        td="Host Name: "
        td= request.hostname
      tr
        td="IP: "
        td= request.ip
      tr
        td="Base URL: "
        td= request.baseUrl
      tr
        td="Original URL: "
        td= request.originalUrl
      tr
        td="Query Params: "
        td=queryParams
      tr
        td="Body Params: "
        td=bodyParams